torch==2.11.0
torchvision==0.26.0
torchaudio==2.11.0
torchcodec>=0.8
torchmetrics
pystoi
requests
huggingface_hub
gdown
numpy>=1.26.4,<3
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
omegaconf
python-dotenv
soundfile
librosa
scipy

black
isort
pre-commit
